@model Front.Models.Usuarios

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Usuarios</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.cod_usu)

        <div class="form-group">
            @Html.LabelFor(model => model.nom_usu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nom_usu)
                @Html.ValidationMessageFor(model => model.nom_usu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cod_cla, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cod_cla)
                @Html.ValidationMessageFor(model => model.cod_cla)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tip_usu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tip_usu)
                @Html.ValidationMessageFor(model => model.tip_usu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cod_pais, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cod_pais)
                @Html.ValidationMessageFor(model => model.cod_pais)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cod_ubi_geo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cod_ubi_geo)
                @Html.ValidationMessageFor(model => model.cod_ubi_geo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dir_usu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dir_usu)
                @Html.ValidationMessageFor(model => model.dir_usu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.num_tlf, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.num_tlf)
                @Html.ValidationMessageFor(model => model.num_tlf)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nom_ent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nom_ent)
                @Html.ValidationMessageFor(model => model.nom_ent)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cod_equ, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cod_equ)
                @Html.ValidationMessageFor(model => model.cod_equ)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
