@model Front.Models.Ubigeos

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ubigeos</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.cod_ubi_geo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cod_ubi_geo)
                @Html.ValidationMessageFor(model => model.cod_ubi_geo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nom_dep, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nom_dep)
                @Html.ValidationMessageFor(model => model.nom_dep)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nom_prv, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nom_prv)
                @Html.ValidationMessageFor(model => model.nom_prv)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nom_dis, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nom_dis)
                @Html.ValidationMessageFor(model => model.nom_dis)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
