@model Front.Models.Ubigeos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ubigeos</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_dep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_dep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom_prv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_prv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom_dis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_dis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cod_ubi_geo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
